body {
	padding: 30px;
}
p {
	padding-top: 5px;
}
#input, #add, #filter {
	margin: 5px;
}
#inputForm {
	margin-top: 200px;
}
.searchTerms {
	margin-right: 2px;
	background-color: #17bbfd;
	border-style: none;
	margin-bottom: 2px;
	font-size: 14px;
	font-family: Arial;
}
.searchTerms:hover {
	background-color: #00eaff;
}
.giphs {
	position: absolute;
	display: block;
}
.gifBlock {
	float: left;
	margin: 5px;
	padding-top: 5px;
	min-height: 250px;
	max-height: 300px;
}
img {
	max-width: 200px;
	max-height: 275px;	
}