body {
	padding: 30px;
}
p {
	padding-bottom: 8px;
}
#input {
	margin: 5px;
}
.searchTerms {
	margin-right: 2px;
	background-color: #17bbfd;
	border-style: none;
	margin-bottom: 2px;
	font-size: 14px;
	font-family: Arial;
}
.searchTerms:hover {
	background-color: #00eaff;
}
.giphs {
	position: absolute;
	display: block;
}
.gifBlock {
	float: left;
	margin: 5px;
}
img {
	max-width: 200px;
	max-height: 200px;
}